* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding:0;
}

nav {
  background-color: grey;
  height: 50px;
  width: 100%;
}

main {
  background-color: green;
  width: 100%;
  height: 1000px;
  position: relative;
}


.main:after {
  content:"";
  display:table;
  clear:both;
}

.container {
  width: 1000px;
  margin: auto;
}

.container-logo {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

img {
  height: 150px;
}

.header-top{
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top:0;
  left: 0;
}

.float-left {
  float: left;
  width: 33%;
  border-radius: 5px;
}

.col-left {
  width: 20%;
  background-color: yellow;
  margin top: 5%;
}

.col-center {
  width: 50%;
  background-color: blue;
  margin-left: 5%;
  margin-right: 5%;
}

.col-right {
  width: 20%;
  margin top: 5%;
}

.widget {
  height: 150px;
  height: 100%;
  margin-bottom:5%;
  border-radius: 5px;
  background-color: red;
}

.social {
  width: 100%;
  height: 100px;
  background-color: purple;
}
