* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}



body {
  background-color: pink;
  background-image: url(../img/natural-pattern.png);
  height: 100vh;
  width: 60%;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
}



main {
  width: 100%;
  margin-top: 10px;
}

.container:after {
  content:"";
  display:table;
  clear:both;
}


.menu-float-left:after {
  content:"";
  display:table;
  clear:both;
}

.menu-float-left {
  margin-bottom: 10px;
}

.menu-float-left i,
.menu-float-left h3 {
  float: left;
}

i {
  margin-right: 5px;
  font-size: 20px;
  color: orange;
}

.menu-float-left h3 {
  width: 60%;
}


.container-logo {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.container-logo img {
  height: 150px;
}

.container-logo h1 {
 font-size: 20px;
 color: white;
 text-transform: uppercase;
}

.header-top{
  position: relative;
  width: 100%;
  height: 300px;
  border: 6px solid white;
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  background-color: #504741;
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.header-bottom {
  height: 50px;
  line-height: 50px;
}
.header-bottom nav ul {
  list-style: none;
  line-height: 50px;
}

.header-bottom nav ul li {
  display: inline-block;
  text-align: center;
}

.header-bottom nav ul li:last-child {
border-right: 0;
}

.header-bottom nav ul li:first-child {
border-left: 0;
}

.header-bottom nav ul li a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  border-left: 1px solid #60554c;
  border-right: 1px solid #302A25;
}

.header-bottom nav ul li a:hover {
  display: inline-block;
  background-color: #302B27;
  font-size: 15px;
  color: white;
}

.float-left {
  float: left;
  width: 33%;
  border-radius: 5px;
}

.col-left {
  width: 20%;
  background-color: white;
  margin top: 5px;
  padding: 5px;
}

.menu li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.menu li a {
text-decoration: none;
color: green;
}

.menu li a:hover {
text-decoration: underline;
}

.col-center {
  width: 50%;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
}

.col-center h2 {
  text-transform: uppercase;
  margin: 20px;
}

.col-center p {
  margin-bottom: 20px;
  line-height: 30px;
}


.col-right {
  width: 20%;
}

.widget {
  border-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
  line-height: 30px;
}

.widget h3 {
 margin:5px;
 text-align:center;
}

.widget p {
 margin:5px;
 text-align:center;
 margin-bottom: 20px;
 line-height: 30px;
}

footer {
width: 100%;
color: lightgrey;
background-color: white;
border-radius: 5px;
margin-bottom: 10px;
}

footer .footer-top {
  border-bottom: 1px inset grey;
  text-align: center;
}

.footer-bottom:after {
  content:"";
  display:table;
  clear:both;
}

footer .footer-bottom .col-footer {
  float:left;
  width: calc(100% / 3);
  padding: 20px;
  text-align: center;
}

footer .footer-bottom .col-footer i {
  color: lightgrey;
  font-size: 30px;
}

footer .footer-bottom .col-footer i:hover {
  color: grey;
}
